.header {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    height: 272px;
    max-width: 77.7%;
    margin-top: 96px;
    margin-bottom: 128px;
}

.header-conteiner {
    // @include justify-content-center;
    display: flex;
    justify-content: space-between;
}

.header--logo {
    margin-right: 10px;
}

.header-conteiner__navigation {
    display: flex;
}

.header--navigation {
    display: flex;

    @include phone {
        display: none;

        :checked & {
            display: block;
        }
    }
}

.mobile--navigation {
    display: flex;

    @include desktop {
        display: none;
    }


}

.header-navigation__item {
    margin-right: 53px;
}

.search-icon {
    margin-right: 12px;
}

#menu__toggle {
    opacity: 0;
}

.navigation__btn {
    display: flex;
    position: absolute;
    align-items: center;
    right: 150px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.navigation__btn > span,
.navigation__btn > span::before,
.navigation__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.navigation__btn > span::before {
    content: "";
    top: -7px;
}

.navigation__btn > span::after {
    content: "";
    top: 7px;
}

#menu__toggle:checked ~ .navigation__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .navigation__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .navigation__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.header--title {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}
