.design-build {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: $main-div-gap-32;
    justify-self: center;
    margin-bottom: 128px;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; 
    }

    @include phone-horizont {
        gap: $main-div-gap-16;
        margin-left: 16px;
        margin-bottom: 64px;
    }   
}

.build-image {
    margin-bottom: 16px;

    @include phone-horizont {
        max-height: 252px;
    }

    @include phone {
        max-height: 252px;
    }
}

.main-information {
    display: flex;
    max-width: 77.7%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 128px;

    @include phone-horizont {
        display: grid;
        max-width: 87.7%;
        margin-bottom: 48px;
    }
}

.main-information__title {
    font-size: $h3-font-size-23;
    line-height: $h3-line-height-38;
    letter-spacing: $letter-spacing-01;
    margin-right: 15px;

    @include phone-horizont {
        font-size: $h3-font-size-19;
        line-height: $h3-line-height-32;
        letter-spacing: $letter-spacing-005;
    }
}

.main-information__title:hover {
    color: $h3-hover-color;
}

.title-one {

    @include phone-horizont {
        margin-bottom: 2em;
    }
}

.title-two {
    margin-bottom: 35px;

    @include phone-horizont {
        margin-bottom: 20px;
    }
}

.information-arow {
    color: $a-arow-color;
    font-size: $a-arow-font-size;
}

.main-information__text {
    font-size: $p-font-size-19;
    line-height: $p-line-height-32;
    letter-spacing: $letter-spacing-005;
    color: $p-color;

    @include phone-horizont {
        font-size: $p-font-size-16;
        line-height: $p-line-height-26;
    }
}

.text-one {
    margin-bottom: 2em;

    @include phone-horizont {
        margin-top: 2em;
    }
}

.main-posts {
    display: flex;
    flex-direction: column;
    max-width: 77.7%;
    margin: auto;

    @include phone-horizont {
        max-width: 87.7%;
    }
}

.main-posts__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

    @include phone-horizont {
        flex-direction: column;
    }
}

.main-posts__title {
    font-size: $h4-font-size-23;
    line-height: $h4-line-height-38;
    letter-spacing: $letter-spacing-01;

    @include phone-horizont {
        margin-bottom: 8px;
    }
}

.main-posts__button {
    font-size: $a-font-size-16;
    line-height: $a-line-height-26;
    letter-spacing: $letter-spacing-01;
    color: $a-arow-color;
}

.main-posts__post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: $main-div-gap-34;

    @include phone-horizont {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.post-image {
    margin-bottom: 27px;

    @include phone-horizont {
        margin-bottom: 17px; 
        max-width: 330px;
    }

    @include phone {
        max-width: 285px;
        object-fit: cover;
    }
}

.signature {
    display: flex;
    justify-content: space-between;
    max-width: 350px;

    @include phone-horizont {
        display: flex;
        flex-direction: column;
        max-width: 100px;
    }
}

.signature_text {
    font-size: $p-font-size-12;
    line-height: $p-line-height-20;
    letter-spacing: $letter-spacing-01;
    color: $p-color-7B;
    margin-bottom: 28px;
}

.signature_text--logo {

    @include phone-horizont {
        margin-bottom: 10px;
    }
}

.post_title {
    font-size: $h5-font-size-23;
    line-height: $h5-line-height-38;
    letter-spacing: $letter-spacing-01;
    margin-bottom: 24px;
}

.post_title-margin {
    margin-bottom: 60px;

    @include phone-horizont {
        margin-bottom: 24px;
    }
}

.post_text {
    font-size: $p-font-size-16;
    line-height: $p-line-height-26;
    letter-spacing: $letter-spacing-005;
    color: $p-color;
    margin-bottom: 128px;

    @include phone-horizont {
        margin-bottom: 48px;
    }
}

.br {
    display: none;
}