.design-build {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 32px;
    justify-self: center;
    margin-bottom: 128px;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; 
    }

    @include phone-horizont {
        gap: 16px;
        margin-left: 16px;
    }   

    @include phone {
        gap: 16px;
        margin-left: 16px;
        
    }
}

.build-image {
    margin-bottom: 16px;

    @include phone-horizont {
        max-height: 252px;
    }

    @include phone {
        max-height: 252px;
    }
}

.main-information {
    display: flex;
    max-width: 77.7%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 128px;

    @include phone-horizont {
        display: grid;
        max-width: 87.7%;
    }
}

.main-information__title {
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #000000;
    font-weight: 400;
    margin-right: 15px;

    @include phone-horizont {
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
    }
}

.main-information__title:hover {
    color: rgb(58, 117, 113);
}

.title-one {

    @include phone-horizont {
        margin-bottom: 2em;
    }
}

.title-two {
    margin-bottom: 35px;

    @include phone-horizont {
        margin-bottom: 20px;
    }
}

.information-arow {
    color: #7B7B7B;
    font-size: 27px;
}

.main-information__text {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;

    @include phone-horizont {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
    }
}

.text-one {
    margin-bottom: 2em;

    @include phone-horizont {
        margin-top: 2em;
    }
}

.main-posts {
    display: flex;
    flex-direction: column;
    max-width: 77.7%;
    margin: auto;

    @include phone-horizont {
        max-width: 87.7%;
    }
}

.main-posts__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

    @include phone-horizont {
        flex-direction: column;
    }
}

.main-posts__title {
    font-size: 23px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #000000;

    @include phone-horizont {
        margin-bottom: 8px;
    }
}

.main-posts__button {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #7B7B7B;
}

.main-posts__post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 34px;

    @include phone-horizont {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.post-image {
    margin-bottom: 27px;

    @include phone-horizont {
        margin-bottom: 17px; 
        max-width: 330px;
    }

    @include phone {
        max-width: 285px;
        object-fit: cover;
    }
}

.signature {
    display: flex;
    justify-content: space-between;
    max-width: 350px;

    @include phone-horizont {
        display: flex;
        flex-direction: column;
        max-width: 100px;
    }
}

.signature_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #7B7B7B;
    margin-bottom: 28px;
}

.signature_text--logo {

    @include phone-horizont {
        margin-bottom: 10px;
    }
}

.post_title {
    font-size: 23px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 24px;
}

.post_title-margin {
    margin-bottom: 60px;

    @include phone-horizont {
        margin-bottom: 24px;
    }
}

.post_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #565656;
    margin-bottom: 128px;
}

.br {
    display: none;
}

.footer {
    width: 100%;
    background: #F4F4F4;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 77.7%;

    @include phone-horizont {
        max-width: 87.7%;
        flex-direction: column;
    }
}

.footer-title {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 128px;
    margin-bottom: 32px;

    @include phone-horizont {
        font-size: 33px;
        font-weight: 400;
        line-height: 50px;
        margin-top: 64px;
        margin-bottom: 18px;
    }
}

.footer-contact {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 16px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;

    @include phone-horizont {
        margin-bottom: 48px;
    }
}

.item_one {
    margin-top: 128px;

    @include phone-horizont {
        margin-top: 48px;
    }
}

.footer-navigation__item {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}

.footer-navigation__item:hover {
    color: rgb(58, 117, 113);
}

.footer_end {
    margin-top: 264px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #000000;

    @include phone-horizont {
        margin-top: 0;
        margin-bottom: 68px;
    }
}