// font
$font:  "Lato", "Red Hat Display";
$font-lato: "Lato";
$font-rhd: "Red Hat Display";
$primary-color: #000000;

// h1
$h1-font-size: 48px;
$h1-line-height: 64px;

// media
$phone-width: 320px;
$phone-gorizont-width: 480px;
$desktop-width: 1440px;